<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2 class="hunzhiwange">HunZhiWanGe</h2>
      <h1>
        魂之挽歌 . 让每一个 PHP 应用都有一个好框架
      </h>
      <p>
        <a class="button" target="_blank" href="https://github.com/hunzhiwange/">我穷极一生的灵魂只为你演奏最炫烂的魂之挽歌</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>创新</h2>
      <p>I am standing on the shoulders</p>
      <p>of giants</p>
      <p>站在巨人的肩膀上保持创新</p>
    </div>

    <div class="point">
      <h2>专注专业</h2>
      <p>Dedicated and</p>
      <p>professional</p>
      <p>每一行代码都需要被测试</p>
    </div>

    <div class="point">
      <h2>不浮躁</h2>
      <p>This is an impetuous era</p>
      <p>is a lost era</p>
      <p>没有羊子赶不上山</p>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <h3>友情链接</h3>
    <%- partial('partials/sponsors') %>
  </div>
</div>

<div id="footer">
  <p>&copy; 2009-<%- new Date().getFullYear() %> 魂之挽歌工作室</p>
</div>


<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
